# my stuff 
.idea
.DS_Store
errors_fix.txt
comments.txt
data_static/
log/
.continue
~/
.vscode/
.config/
.pytest_cache
/notify_run
/gdrive_api_oauth
client_secrets.json

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

.cache

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
.venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

